@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.iconfont{
  font-family: "iconfont" !important;
  font-size: 14px;
  margin-right: 5px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//解决table表头错位
  .el-table th.gutter{
    display: table-cell!important;
  }
.el-table thead th {
    background: #f5f7fa;
}
.el-tabs__content{
    height: calc(100vh - 131px) !important;
    overflow: auto;
}
.el-input, .el-textarea{
  max-width:400px !important;
}
tr.current-row>td {
    background-color: #E4E7ED !important;
}

.fix-table {
  height: calc(100vh - 215px) !important;
}
